# cast
numpy
opencv-contrib-python==4.10.0.84

# photoalbums
Pillow
TiffFile
chardet<6
largestinteriorrectangle
llvmlite
numba
stitching
transformers
ultralytics
watchdog

# vhs
openai-whisper==20250625
pandas
torch==2.10.0
tqdm

# shared / test
pylint
pytest
vulture
